<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like Delete</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>{{ review }}</h1>
    {% if review.image != '' %}
    <img src="{{ review.image.url }}" alt="" style="height: 200px">
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div>진짜 지울래?</div><p></p>
        <button type="submit" class="btn btn-danger btn-sm">어. 지울건데??</button>
        <button type="button" onclick="history.back()" class="btn btn-primary btn-sm">아니?? 안지울건데??</button>
    </form>
</body>
</html>